<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Estimate Charging Cost</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Estimate Charging Cost and Time</h1>
    <p class="lead">Select for which of your cars you need details to get an estimate.</p>
  </div>
</div>

<div class="container">
  <form action="#" th:action="@{/estimate}" method="post">
    <div class="form-group">
      <label for="car">Car</label>
      <select class="form-control" id="car" name="carId">
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.make} + ' ' + ${car.model}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Estimate</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
