<head th:include="fragments/head" th:with="pageTitle='Electric Car Stations'">
    <style>
        body {
            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 100vh;
            margin: 0;
        }

        header, footer {
            width: 100%;
        }
    </style>
</head>

<body>

<header th:include="fragments/header"></header>

<main th:include="${view}"></main>

<footer th:include="fragments/footer"></footer>

<span th:include="fragments/scripts-bundle"></span>

</body>
